<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chahat Jain - Web Developer, Programmer</title>
	<link rel="stylesheet" type="text/css"
		href="stylesheets/style.css">
</head>

<body>
	<img class="ask" src="images/ask.gif" width="240" align="right" alt="ask">
	<div class="container">
		<div class="sidebar sidebargo">
			<nav>
				<ul>
					<li><a
							href="/index"><b>Home</b></a>
					</li>
					<li><a
							href="/intro"><b>My
								Intro</b></a></li>
					<li><a
							href="/experience"><b>Experience</b></a>
					</li>
					<li><a
							href="/blog"><b>Blog</b></a>
					</li>
					<li><a
							href="/contact"><b>Contact
								Me</b></a></li>
				</ul>
			</nav>
		</div>
		<div class="main">
			<div class="hamburger">
				<img class="ham"
					src="images/ham.png" alt="hamburger"
					width="30">
				<img class="cross"
					src="images/cross.png" alt="cross"
					width="18">
			</div>
			<div class="contactform">
				<h1>Contact me for work/general Enquiries</h1>
				<form  method="post" action="/pro">
					
					<div class="mb-3">
						<label for="clientemail" class="form-label"><b>Name</b></label>
						<input type="name" class="form-control" id="clientemail" aria-describedby="emailHelp" name="txt1">
					</div>
					<div class="mb-3">
						<label for="clientemail" class="form-label"><b>Email address</b></label>
						<input type="email" class="form-control" id="clientemail" aria-describedby="emailHelp" name="txt2">
						<div id="emailHelp" class="form-text"><b>We'll never share your email & phone with anyone
								else.</b></div>
					</div>
					<div class="mb-3">
						<label for="clientphone" class="form-label"><b>Phone</b></label>
						<input type="phone" class="form-control" id="clientphone" name="txt3">
					</div>
					<div class="mb-3">
						<label for="clientemail" class="form-label"><b>Enquiry</b></label>
						<input type="name" class="form-control" id="clientemail" aria-describedby="emailHelp" name="txt4">
					</div>
					<div class="mb-3" id="form-check">
						<input type="checkbox" class="form-check-input" id="isclient" name="txt5">
						<label class="form-check-label" for="isclient"><b>I want you to work on a project with
								me.</b></label>
					</div>
					<button type="submit" class="btn btn-sm">Submit</button>
				</form>
			</div>
		</div>
		<script src="javascripts/index.js">
		</script>
</body>

</html>