<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chahat Jain - Web Developer, Programmer</title>
	<link rel="stylesheet" type="text/css"
		href="stylesheets/style.css">
</head>

<body>
	<div class="container">
		<div class="sidebar sidebargo">
			<nav>
				<ul>
					<li><a
							href="/index"><b>Home</b></a>
					</li>
					<li><a
							href="/intro"><b>My
								Intro</b></a></li>
					<li><a
							href="/experience"><b>Experience</b></a>
					</li>
					<li><a
							href="/blog"><b>Blog</b></a>
					</li>
					<li><a
							href="/contact"><b>Contact
								Me</b></a></li>
				</ul>
			</nav>
		</div>
		<div class="main">
			<div class="hamburger">
				<img class="ham"
					src="images/ham.png" alt="hamburger"
					width="30">
				<img class="cross"
					src="images/cross.png" alt="cross"
					width="18">
			</div>
			<div class="infocontainer">
				<div class="devinfo">
					<div class="hello">Hi I am</div>
					<div class="name">Chahat Jain</div>
					<div class="about">Web Developer, Stock Market Enthusiastic</div>
					<div class="moreabout">I am Front-End Developer and I love to learn new skills.</div>
					<div class="buttons">
						<a href="Resume - Chahat Jain.pdf" target="_blank">
							<button class="btn" id="dwn-btn">Download Resume</button></a>
						<a
							href="/contact"><button
								class="btn">Contact
								Me</button></a>
					</div>
				</div>
				<div class="devpic"><img
						src="images/pic.jpeg"
						alt="Chahat Jain"></div>
			</div>
		</div>
	</div>
	<script
		src="javascripts/index.js">
		</script>
</body>

</html>