<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chahat Jain - Web Developer, Programmer</title>
	<link rel="stylesheet" type="text/css"
		href="stylesheets/style.css">
</head>

<body>
	<div class="container">
		<div class="sidebar sidebargo">
			<nav>
				<ul>
					<li><a
							href="/index"><b>Home</b></a>
					</li>
					<li><a
							href="/intro"><b>My
								Intro</b></a></li>
					<li><a
							href="/experience"><b>Experience</b></a>
					</li>
					<li><a
							href="/blog"><b>Blog</b></a>
					</li>
					<li><a
							href="/contact"><b>Contact
								Me</b></a></li>
				</ul>
			</nav>
		</div>
		<div class="main">
			<div class="hamburger">
				<img class="ham"
					src="images/ham.png" alt="hamburger"
					width="30">
				<img class="cross"
					src="images/cross.png" alt="cross"
					width="18">
			</div>
			<img class="img" src="images/pic.jpeg" alt="Chahat Jain" width="200" align="center" style="display: none;">
			<img class="gif" src="images/giphy.gif" alt="GIF"
					width="240" align="right">
			<div class="intro">
				
				<h1>I'm Chahat, a web <br id="break"> developer based in Vadodara</h1>
				<p>Hi there! I was born and raised in Banswara(Raj.). <br id="break">I am pursuing my B.tech degree in Computer
					Science and Engineering <br id="break">from Parul Institute of Engineering and Technology, Vadodara(Guj.). 
					<br id="break">My main interest lies in website design and I love to play cricket. 
					<br id="break">If you like my site, don't hesitate to reach out me.</p>
				
				<!--<h2>My Skills</h2>
				<div class="skillcontainer">
					<div class="skillitem">HTML:<div class="skill t5"></div>
					</div>
					<div class="skillitem">CSS:<div class="skill"></div>
					</div>
					<div class="skillitem">Javascript:<div class="skill"></div>
					</div>
					<div class="skillitem">Php:<div class="skill t5"></div>
					</div>
					<div class="skillitem">Python:<div class="skill"></div>
					</div>-->
			</div>
		</div>
	</div>
	</div>
	<script
		src="javascripts/index.js">
		</script>
</body>

</html>